table.titre {
    background-color: #333;
    padding: 0;
    border: 0px;
    margin: 0px;
}

table.titre td {
    padding: 0;
}

.logo-emn{
    padding:0px;
    height: 35px;
    margin-left: 5px;

}