table.titre {
    background-color: #333;
    padding: 0;
    border: 0px;
    margin: 0px;
}

table.titre td {
    padding: 0;
}

.logo-emn{
    padding:0px;
    height: 35px;
    margin-left: 5px;
}

.article.activated {
    background: #d3d3d3;
    border-color: #333;
}

[type="submit"] {
    padding-top: 10px;
    padding-bottom: 9px;
}

table.formulaire {
    text-align: center;
    margin: auto;
}

table.formulaire input {
    margin: 0;
}

table.formulaire button {
    margin: 0;
}