@(message: String)

@main("Welcome to Play") {

    <nav class="top-bar" data-topbar>
        <ul class="title-area">
            <li class="name">
                <h1><a href="#">My site</a></h1>
            </li>
        </ul>

        <section class="top-bar-section">
        @if(session.isEmpty){
            <ul class="right">
                <li><a href="@routes.Login.login">Login</a></li>
            </ul>
        } else {
            <ul class="right">
                <li><a href = "#">@session.get("name")</a></li>
                <li><a href="@routes.Login.logout">Logout</a></li>
            </ul>
        }
        </section>
    </nav>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/frontend/application.js")"></script>
}
