@(message: String)

@main("My Site") {

<div class="history">



</div>

<div class="large-24 column">
    <div class="large-3 column"></div>
    <div class="large-12 column">
    </div>
    <div class="large-3 column">
        <button class="Next"> Next </button>
        <br/>
        <button  class="Happy">I get lucky !</button>
    </div>
    <div class ="large-6 column"></div>
</div>

    <script type="text/javascript" src="@routes.Assets.at("javascripts/frontend/application.js")"></script>

}
