@(form: Form[Login.LoginForm])

@main("Welcome to Play") {

    @helper.form(routes.Login.authenticate) {
        @if(form.hasGlobalErrors) {
            <p class="error">
            @form.globalError.message
            </p>
        }
        <form>
            <fieldset>
                <legend>Login</legend>

                <table class="formulaire">
                    <tr><td>
                        <div class="large-24 columns">
                            <legend>Please login</legend>
                            <br>
                            <input type="email" name="email" placeholder="Email" value="@form("email").value">
                        </div>
                    </td></tr>
                    <tr><td>
                        <div class="large-24 columns">
                            <input type="password" name="password" placeholder="Password">
                        </div>
                    </td></tr>
                    <tr><td>
                        <button type="submit">Login</button>
                        <br>
                        <br>
                    </td></tr>
                </table>
            </fieldset>
        </form>
    }

}