@(form: Form[Login.LoginForm])

@main("Welcome to Play") {

    @helper.form(routes.Login.authenticate) {
        @if(form.hasGlobalErrors) {
            <p class="error">
            @form.globalError.message
            </p>
        }
        <form>
            <fieldset>
                <legend>Login</legend>
                <div class="large-4 columns">
                    <input type="email" name="email" placeholder="Email" value="@form("email").value">
                </div>
                <br/>
                <div class="large-2 columns">
                    <input type="password" name="password" placeholder="Password">
                </div>
                <br/>
                <button type="submit">Login</button>
            </fieldset>
        </form>
    }

}