@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/normalize.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/foundation.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/perso.css")">

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <nav class="top-bar" data-topbar>
            <ul class="title-area">
                <li class="name">
                    <table class="titre">
                        <tr>
                            <td>
                                <img class="logo-emn" src="@routes.Assets.at("images/mines_nantes_logo_white.png")"/>
                            </td>
                            <td>
                                <h1>
                                    <a href="@routes.Application.index">My site</a>
                                </h1>
                            </td>
                        </tr>
                    </table>
                </li>
            </ul>

            <section class="top-bar-section">
                <ul class="right">
            @if(session.isEmpty){
                <li class="divider"></li>
                    <li><a href="@routes.Login.login">Login</a></li>
                <li class="divider"></li>
                    <li>
                        <a href="@routes.Login.login">Sign Up</a>
                    </li>
            } else {
                @if(session.get("isAdmin").equals("true")) {
                    <li class="divider"></li>
                    <li class="has-dropdown not-click">
                        <a href="#">Administration</a>
                        <ul class="dropdown">
                            <li><label>Products</label></li>
                            <li><a href="#">Create a product</a></li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                }
                    <li><a href = "#">@session.get("name")</a></li>
                    <li class="divider"></li>
                    <li><a href="@routes.Login.logout">Logout</a></li>
            }
                    </ul>
            </section>
        </nav>

        <div></div>
        <script src="@routes.Assets.at("javascripts/underscore.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/d3.v3.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/foundation.min.js")" type="text/javascript" charset="${_response_encoding}"></script>
        <script>$(document).foundation();</script>
    </head>
    <body>
        @content
    </body>
</html>
